.road {
    background: url(images/krizovatky/krizovatka15.svg);
    background-size: 100% 100%;
    width: 60%;
    padding-top: 35%;
    overflow: hidden;
    z-index: -1;
  }
  
  .redcar {
    cursor: pointer;
    transform: translate(300%,-115%) rotate(90deg);
  }
  
  .redcardriving {
    transform-origin: 50% 80%;
    animation-name: redcDriveAnim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes redcDriveAnim {
    0%   {transform: translate(240%,-145%) rotate(90deg);}
    100% {transform: translate(1100%,-145%) rotate(90deg);}
  }
  
  #redc {
    width: 10%;
    height: 10%;
    z-index: 1;
  }
  
  #redcindicator {
    width: 100%;
    background: url(images/sprites/auto1/auto1_cervena.svg) 0% 0%;
    background-size: 302% 100%;
  }
  
  .bluecar {
    cursor: pointer;
    transform: translate(400%,-155%) rotate(90deg);
  }
  
  .bluecardriving {
    transform-origin: 50% 80%;
    animation-name: bluecDriveAnim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes bluecDriveAnim {
    0%   {transform: translate(340%,-185%) rotate(90deg);}
    33%   {transform: translate(500%,-215%) rotate(45deg);}
    66%   {transform: translate(600%,-250%) rotate(90deg);}
    100% {transform: translate(1100%,-250%) rotate(90deg);}
  }
  
  #bluec {
    width: 10%;
    height: 10%;
    z-index: 1;
  }
  
  #bluecindicator {
    width: 100%;
    background: url(images/sprites/auto2/auto2_modra.svg) 0% 0%;
    background-size: 299% 100%;
  }